{% include 'components/navbar.html.twig' %}

{% for auction in auctions %}
    <h2><a href="{{ path('auctions_show', {'id': auction.id}) }}">{{ auction.title }}</a></h2>
    <p>{{ auction.description }}</p>
    <p>Price: {{ auction.offers|last.bidAmount ?? auction.startPrice }}€</p>
    <p>Ends at: {{ auction.endDate|date('Y-m-d H:i:s') }}</p>
{% endfor %}
